<!-- Contenus.ejs -->
<div class="p-5">
  <h1 class="text-2xl font-bold mb-4 mt-16">Formations Disponibles</h1>
  <ul class="space-y-2">
      <li>
          <a href="/formations/formation1" class="block p-4 bg-blue-500 text-white rounded hover:bg-blue-600">
              Formation 1
          </a>
      </li>
      <li>
          <a href="/formations/formation2" class="block p-4 bg-blue-500 text-white rounded hover:bg-blue-600">
              Formation 2
          </a>
      </li>
      <li>
          <a href="/formations/formation3" class="block p-4 bg-blue-500 text-white rounded hover:bg-blue-600">
              Formation 3
          </a>
      </li>
      <li>
          <a href="/formations/formation4" class="block p-4 bg-blue-500 text-white rounded hover:bg-blue-600">
              Formation 4
          </a>
      </li>
  </ul>
</div>
