<!-- protected.ejs -->
<h1>Formations</h1>
<ul>
    <% formations.forEach(formation => { %>
        <li>
            <h2><%= formation.nom %></h2>
            <p><%= formation.description %></p>
            <a href="/formations/<%= formation.formationId %>/modules">Voir les modules</a>
        </li>
    <% }); %>
</ul>
