<!--//views/partials/dashboarddiv.ejs-->>
<div class="bg-gray-800 bg-opacity-50  w-full h-full flex flex-col justify-center items-center p-4">
    <button id="toggleProfileButton" class="btn-inscription mb-4">
        <i class="fas fa-user-circle mr-2"></i>
        Voir Profil
    </button>
    <!-- Other dashboard content -->
</div>