<div class="w-full h-full border border-gray-700  bg-opacity-30 shadow-md p-3 bg-gray-800 text-white flex flex-col justify-between ">
    <!-- Titre -->
    <h1 class="text-sm font-semibold leading-tight opacity-100">en cours de construction <br>#lessonOnLine <br>#div 5</h1>


</div>

 