<nav class="flex items-center justify-between">
  <span class="mr-4">Bonjour : <%= user ? user.username : 'Invité' %></span>

  <!-- Show avatar (profile photo) if available -->
  <% if (user && user.avatar) { %>
    <img src="<%= user.avatar %>" alt="Profile Photo" class="w-12 h-12 rounded-full object-cover mr-4">
  <% } %>

  <div class="d-flex flex-row">
    <% if (user) { %>
      <a href="/auth/signout" class="mx-3">Déconnexion</a>
    <% } else { %>
      <a href="/users/new" class="mx-3">Inscription</a>
      <a href="/auth/signin/form" class="mx-3">Connexion</a>
    <% } %>
  </div>



</nav>
