<nav class=" bg-gray-800 py-1 ">
    <div class="container mx-auto flex justify-around items-center">
      <a href="/chat" class="relative group text-white font-bold text-xl flex items-center p-3 transition duration-300 ease-in-out rounded-lg hover:bg-blue-500 hover:scale-105">
        <svg class="w-7 h-7 mr-2 transition-transform duration-300 transform group-hover:scale-125" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12a8 8 0 10-8 8v4l4-4h4a8 8 0 000-8z"></path>
        </svg>
        <span>Chat</span>
      </a>
      
      <a href="/formation" class="relative group text-white font-bold text-xl flex items-center p-3 transition duration-300 ease-in-out rounded-lg hover:bg-green-500 hover:scale-105">
        <svg class="w-7 h-7 mr-2 transition-transform duration-300 transform group-hover:scale-125" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
        </svg>
        <span>Formation</span>
      </a>
      
      <a href="/qr_quiz" class="relative group text-white font-bold text-xl flex items-center p-3 transition duration-300 ease-in-out rounded-lg hover:bg-purple-500 hover:scale-105">
        <svg class="w-7 h-7 mr-2 transition-transform duration-300 transform group-hover:scale-125" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8H8v8h8V8zm4 0h-2v8h2a4 4 0 000-8z"></path>
        </svg>
        <span>QR Quiz</span>
      </a>
    </div>
  </nav>
  