<div class="w-[206px] h-[118px] border border-gray-700 rounded-lg shadow-md p-3 bg-gray-800 text-white flex flex-col justify-between">
    <!-- Titre -->
    <h1 class="text-sm font-semibold leading-tight">Référentiels Nationaux</h1>

    <!-- Contenu et bouton de téléchargement -->
    <div class="flex items-center justify-center mt-2">
        <a href="https://mobile.interieur.gouv.fr/content/download/111134/888083/file/2024%20PSE.pdf" 
           target="_blank"
           class="bg-blue-600 hover:bg-blue-700 text-xs font-bold text-white py-1 px-3 rounded transition duration-300 ease-in-out transform hover:scale-105">
            Télécharger
        </a>
    </div>
</div>
 